<div class="container my-5">
  <h1 class="text-center mb-4 text-primary">Lista de empleados</h1>
  <div class="table-responsive">
      <div class="container-fluid">
        <form class="d-flex" >
          <input #buscarId class="form-control" type="number" placeholder="Buscar por ID" aria-label="Buscar por ID">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="table-primary">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">direccion</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Salario</th>
          <th scope="col">Email</th>
          <th scope="col">Área</th>
          <th scope="col">Status</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of EmpList; trackBy: trackByIndex">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{item.direccion}}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.salario }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.area_id }}</td>
          <td>{{ item.status }}</td>
          <td>
            <button  class="btn btn-secondary"    (click)="editarEmpleado(item)">Editar</button>
            <button  class="btn btn-danger"    (click)="eliminarEmpleado(item.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="toggleFormulario()">Agregar empleado</button>
  </div>

  <div class="floating-form" *ngIf="mostrarFormulario">
    <h2 *ngIf="editando==false">Crear Nueva Empleado</h2>
    <h2 *ngIf="editando">Editar Empleado</h2>
    <form (ngSubmit)="guardarEmp()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEmpleado.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" [(ngModel)]="nuevoEmpleado.apellido" name="apellido" required>
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">direccion</label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoEmpleado.direccion" name="direccion" required>
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoEmpleado.telefono" name="telefono" required>
      </div>
      <div class="mb-3">
        <label for="salario" class="form-label">Salario</label>
        <input type="number" class="form-control" id="salario" [(ngModel)]="nuevoEmpleado.salario" name="salario" required>
      </div>
      <div class="mb-3" *ngIf="editando==false">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="nuevoEmpleado.email" name="email" required>
      </div>
      <div *ngIf="editando==false">
        <label for="password" class="form-label">Contrasena</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="mb-3">
        <label for="area_id" class="form-label">Área</label>
        <input type="number" class="form-control" id="area_id" [(ngModel)]="nuevoEmpleado.area_id" name="area_id" required>
      </div>
      <div class="mb-3" *ngIf="editando==true">
        <label for="status" class="form-label">Status</label>
        <select class="form-control" id="status" [(ngModel)]="nuevoEmpleado.status" name="status" required>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="toggleFormulario()">Cerrar</button>
    </form>
  </div>
</div>
